@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout"; //no logeado layout
    //Layout = "_LayoutLogin"; //logeado layout
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/estilos.css" asp-append-version="true" />
</head>


<body>
    <div class="container">
        <div class="box1">
            <h2>Inicio de Sesión</h2>
            <form method="post">
                <label for="email">Email</label><br><br>
                <input class="input" type="email" id="email" asp-for="@Model.email"><br><br>
                <label for="password">Contraseña</label><br><br>
                <input class="input" type="password" id="password" asp-for="@Model.contraseña"><br><br>
                <a class="a" asp-area="" asp-page="/Projecto/recuperar">¿Olvidaste tu contraseña?</a><br><br>
           
                <button type="submit" class="button1">Iniciar Sesión</button>
        
            </form>
         </div>
        <div class="box2">
            <h2>¡Bienvenido!</h2>
            <p class="p1">Estamos a tu disposición para ayudarte.</p>
            <p class="p2">¿No tienes cuenta?</p>
            <button class="button2" id="registrat">Registrarse</button>
        </div>
    </div>
</body>
<script>
    document.getElementById("iniciar-sesion2").addEventListener("click", function () {
        window.location.href = "/Projecto/InicioPrincipal";
    });

    document.getElementById("registrat").addEventListener("click", function () {
        window.location.href = "/Projecto/formRegistro";
    });
</script>