<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Avanze_ProjectoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script rel="stylesheet" src="~/js/menuDesplegable.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/Avanze_ProjectoWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
        </div>
        <div>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
                <ul class="navbar-nav flex-grow-1 ulHeader">
                        <li class="nav-item">
                            <a class="nav-link headerText" asp-area="" asp-page="/Projecto/preguntasFrecuentes">Preguntas Frecuentes</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link headerText" asp-area="" asp-page="/Projecto/Proyectos/Busqueda">Busqueda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link headerText" asp-area="" asp-page="/Projecto/ProyectosRealizados">Proyectos Finalizados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link headerText" asp-area="" asp-page="/Projecto/paginaUno">Crear Campaña</a>
                        </li>
                </ul>

                <!-- Botón del menú con las tres barras -->
                <div class="menu-button" onclick="toggleMenu()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>

                <!-- Menú desplegable -->
                <div class="menu" id="menu">
                    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole == "Admin")
                    {
                        <a href="/Projecto/RestaurarProyecto">Restablecimiento de Proyectos</a>
                        <a href="/Projecto/PeticionesDeProyectos">Revision de Proyectos</a>
                        <a href="/Projecto/editProjectLista">Editar Proyectos</a>
                        <a href="/Projecto/Usuarios/Index">Administracion Usuarios</a>
                        
                    }
                    <a href="/Projecto/PerfilInterfaz">Perfil</a>
                    <a href="#">Cerrar Session</a>
                </div>

            </nav>
        </div>
    </header>




    <div class="containerRender">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <footer class="footer1">
        <div class="containerFooter">
            <div class="divBox">
                <p class="rectangulo">Nuestra Seccion</p>
                <a class="enlaces espacioRectangulo" href="/SobreNosotros">Sobre Nosotros</a>
                <a class="enlaces" href="/NuestrosServicios">Nuestros Servicios</a>
                <a class="enlaces" href="/Privacy">Politica De Privacidad</a>
            </div>
            <div class="divBox">
                <p class="rectangulo">Te ayudamos</p>
                <a class="enlaces espacioRectangulo" href="/Projecto/preguntasFrecuentes">Preguntas Frecuentes</a>
                <a class="enlaces" href="">.</a>
                <a class="enlaces" href="">.</a>
            </div>
            <div class="divBox">
                <p class="rectangulo">Visita Tambien</p>
                <a class="enlaces espacioRectangulo" href="https://www.univalle.edu/">Univalle Oficial</a>
                <a class="enlaces" href="https://www.univalle.edu/?page_id=150">Eres Estudiante Nuevo?</a>
                <a class="enlaces" href="https://www.univalle.edu/?page_id=147/#Registro">Mas Sobre Univalle</a>
            </div>
            <div class="divBox">
                <p class="rectangulo">Siguenos En Nuestras Redes</p>
                <a class="enlaces espacioRectangulo" href="https://www.facebook.com/UnivalleBolivia">Facebook</a>
                <a class="enlaces" href="https://www.instagram.com/univalle_bolivia/">Instagram</a>
                <a class="enlaces" href="https://www.tiktok.com/">Tiktok</a>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.getElementById("iniciar-sesion").addEventListener("click", function () {
            window.location.href = "/Index";
        });

        document.getElementById("registrate").addEventListener("click", function () {
            window.location.href = "/Projecto/formRegistro";
        });

    </script>
</body>

</html>
