<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Avanze_ProjectoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Avanze_ProjectoWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            
        </div>
        <div>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
                <ul class="navbar-nav flex-grow-1 ulHeader">
                    <li class="nav-item">
                        <a class="nav-link headerText" asp-area="" asp-page="/Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerText" asp-area="" asp-page="/Index">Categoria de proyectos</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link headerText" asp-area="" asp-page="/Projecto/preguntasFrecuentes">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerText" asp-area="" asp-page="/Projecto/ExploradorMomentaneo">Explorador Desarrollador</a>
                    </li>
                </ul>
                <div class="user-actions divB">
                    <button class="button2">Iniciar Sesión</button>
                    <button class="button1">Registrate</button>
                </div>
            </nav>
        </div>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    



    <footer class="footer">
        <div class="container">
            <div class="divBox">
                <p class="rectangulo">Nuestra Seccion</p>
                <a class="enlaces" href="/SobreNosotros">Sobre Nosotros</a>
                <a class="enlaces" href="/NuestrosServicios">Nuestros Servicios</a>
                <a class="enlaces" href="/Privacy" >Politica De Privacidad</a>
            </div>
            <div class="divBox">
                <p class="rectangulo">Te ayudamos</p>
                <a class="enlaces" href="/Projecto/preguntasFrecuentes">Preguntas Frecuentes</a>
                <a class="enlaces" href="https://www.ejemplo.com">.</a>
                <a class="enlaces" href="https://www.ejemplo.com">.</a>
            </div>
            <div class="divBox">
                <p class="rectangulo">Visita Tambien</p>
                <a class="enlaces" href="https://www.univalle.edu/">Univalle Oficial</a>
                <a class="enlaces" href="https://www.univalle.edu/?page_id=150">Eres Estudiante Nuevo?</a>
                <a class="enlaces" href="https://www.univalle.edu/?page_id=147/#Registro">Mas Sobre Univalle</a>
            </div>
            <div class="divBox">
                <p class="rectangulo">Siguenos En Nuestras Redes</p>
                <a class="enlaces" href="https://www.facebook.com/UnivalleBolivia">Facebook</a>
                <a class="enlaces" href="https://www.instagram.com/univalle_bolivia/">Instagram</a>
                <a class="enlaces" href="https://www.tiktok.com/">Tiktok</a>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>