@page
@model Avanze_ProjectoWeb.Pages.Projecto.Proyectos.BusquedaModel
@{
}
<style>
    .containerr {
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 100%; /* Coloca la lista debajo del botón */
        left: 12%;
        z-index: 9999;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
    }

    #mostrarLista {
        z-index: 2;
    }
</style>
<div>
    <form>
    <div class="container-fluid" >
            
            <!-- Contenido del formulario aquí -->
            <div class="row">
                <h1>Catalogo</h1>
                <div class="col-2">
                    <div class="containerr text-center">
                        <button id="mostrarLista" type="button" class="btn btn-dark">Mostrar Lista</button>
                        <ul id="listaTiqueable" class="overlay list-group" style="display:none;">
                            <li class="list-group-item">
                                <input type="checkbox" id="item1" name="item1" value="TestCategory">
                                <label for="item1">TestCategory</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <input type="text" class="form-control " name="Busqueda" id="Busqueda"/>
                    </div>
                </div>
                <div class="col-2">
                    <input type="submit" class="btn btn-light" value="Enviar" />
                </div>

            
            </div>
        

    </div>
    </form>

    <div>
        @foreach (string proyecto in Model.Projects)
        {
            <h1>@proyecto</h1>
            <br />
        }
    </div>
    <script>
        // JavaScript para mostrar/ocultar la lista al hacer clic en el botón
        document.getElementById("mostrarLista").addEventListener("click", function () {
            var lista = document.getElementById("listaTiqueable");
            if (lista.style.display === "none" || lista.style.display === "") {
                lista.style.display = "block";
            } else {
                lista.style.display = "none";
            }
        });
    </script>
</div>
