@page
@model Avanze_ProjectoWeb.Pages.Projecto.Usuarios.DeleteUserModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/formSimple.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <div class="box1">
            <h2>Eliminar Usuario</h2>

            <p>¿Estás seguro de que deseas eliminar este usuario?</p>

            <form method="post">
                <button type="submit" class="button1">Eliminar</button><br></br>
                <a asp-page="Index" class="button2 text-no-underline">Cancelar</a>
            </form>
        </div>
    </div>
</body>
