@page
@model Avanze_ProjectoWeb.Pages.Projecto.ApoyoProyectosModel
@{
    ViewData["Title"] = "Apoyo de Proyectos";
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- css -->
    <link rel="stylesheet" href="~/css/apoyoProyectos.css" asp-append-version="true" />
</head>

<body>
    <div class="divTitle">
        <h2>
            Kysen - El robot cuadrupedo practico e  <br />
            inteligente
        </h2>
        <p>
            El crowdfunding tradicionalmente es una forma de financiación online para obtener el impulso económico.
        </p>
    </div>

    <div class="container">
        <div class="image-container" style="width:800px">
            <img src="https://www.smartick.es/blog/wp-content/uploads/cuadrado.png">
        </div>
        <div class="content-container">
            <div class="centered-content">
                <br />
                <div class="progress">
                    <span class="progress-text"></span>
                </div>
                <br />

                <div>
                    <p class="text1">
                        32000 Bs.
                    </p>
                    <p class="textP">Contribuido de 670000 Bs.</p>
                </div>


                <div>
                    <p class="text2">Contribuir</p>
                    <p class="textP">Cantidad de Contactos Generados: </p>
                </div>


                <div class="text3">
                    <p>Networking Generado</p>
                    <input type="checkbox" id="" name="" class="form-check-input" />
                    <label class="textP" for="">
                        No mostrar publicamente mi <br />
                        nombre en la asesoria de esta <br />
                        camapaña
                    </label>
                </div>
                <br />
                <div>
                    
                     <form method="post"  > 

                    <h3>Apoyo para el proyecto:</h3>
                     <input asp-for="idA" />
                     <p>@Model.Titulo</p>

                     <select asp-for="@Model.TypoApoyo" class="form-control">
                        <option value="Asesoría financiera">Asesoría financiera</option>
                        <option value="Asesoría comercial">Asesoría comercial</option>
                        <option value="Asesoría en marketing">Asesoría en marketing</option>
                        <option value="Apoyo en valoración de empresas">Apoyo en valoración de empresas</option>
                        <option value="Asesoría en gestión impositiva">Asesoría en gestión impositiva</option>
                        <option value="Asesoría en desarrollo de marca">Asesoría en desarrollo de marca</option>
                        <option value="Apoyo en desarrollo de packaging">Apoyo en desarrollo de packaging</option>
                        <option value="Apoyo en procesos de innovación">Apoyo en procesos de innovación</option>
                        <option value="Asesoría en investigación de mercados">Asesoría en investigación de mercados</option>
                        <option value="Asesoría en procesos de exportación">Asesoría en procesos de exportación</option>
                        <option value="Asesoría en procesos de importación">Asesoría en procesos de importación</option>
                        <option value="Asesoría en apertura de mercados internacionales">Asesoría en apertura de mercados internacionales</option>
                        <option value="Asesoría en gestión de equipos">Asesoría en gestión de equipos</option>
                        <option value="Asesoría en elevator pitch">Asesoría en elevator pitch</option>
                        <option value="Asesoría en costos y estructura contable">Asesoría en costos y estructura contable</option>

                    </select>
                     <span asp-validation-for="TypoApoyo" ></span> <!-- Mensaje de error para ComentarioMision -->
           
                      <textarea asp-for="@Model.DescriApoyo"  rows="3" placeholder="Describe tu apoyo,link,invitacion,etc"></textarea>
                <span asp-validation-for="DescriApoyo" ></span> <!-- Mensaje de error para ComentarioMision -->
           
                     <button type="submit" >Registrar</button>
                     </form>
                </div>
                <br />

            </div>
            <div class="button-container">
                <div class="top-buttons">
                    <button type="submit" value="Aplicar" class="button1">Aplicar</button>
                </div>
                <div class="bottom-buttons">
                    <button type="submit" value="Seguir" class="button1">Seguir</button>
                    <button type="submit" value="Visitar Social Media" class="button1">Visitar Social Media</button>
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <div class="container">
        <div class="content-container2">
            <p class="text1">Historia del proyecto</p>
            <p class="textP">
                El crowdfunding tradicionalmente es una forma de financiación online
                para obtener el impulso económico a través de donaciones de usuarios,
                nuestra plataforma es una versión de donación no monetaria a través
                de la generación de networking y de mentorías en diferentes áreas
                que aporten al crecimiento de los proyectos, donde profesionales
            </p>
            <img src="https://www.smartick.es/blog/wp-content/uploads/cuadrado.png">
            <br>
            <p class="textP">
                El crowdfunding tradicionalmente es una forma de financiación
                online para obtener el impulso económico.
            </p>
        </div>
        <div class="comentarios">
            <p class="text1">Comentarios</p>
            <textarea class="textP" rows="3" placeholder="Coloca un comentario"></textarea>
        </div>
    </div>
    
        



    <!-- Footer End -->
    <!-- Back to Top 
   


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
