@page
@model Avanze_ProjectoWeb.Pages.Projecto.ApoyoProyectosModel
@{
    ViewData["Title"] = "Apoyo de Proyectos";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- css -->
    <link rel="stylesheet" href="~/css/apoyoProyectos.css" asp-append-version="true" />
</head>

<body>
    <div class="divTitle">
        <h2>
            Kysen - El robot cuadrupedo practico e  <br />
            inteligente
        </h2>
        <p>
            El crowdfunding tradicionalmente es una forma de financiación online para obtener el impulso económico.
        </p>
    </div>

    <div class="container">
        <div class="image-container" style="width:800px">
            <img src="https://www.smartick.es/blog/wp-content/uploads/cuadrado.png">
        </div>
        <div class="content-container">
            <div class="centered-content">
                <br />
                <div class="progress">
                    <span class="progress-text"></span>
                </div>
                <br />

                <div>
                    <p class="text1">
                        32000 Bs.
                    </p>
                    <p class="textP">Contribuido de 670000 Bs.</p>
                </div>


                <div>
                    <p class="text2">Contribuir</p>
                    <p class="textP">Cantidad de Contactos Generados: </p>
                </div>


                <div class="text3">
                    <p>Networking Generado</p>
                    <input type="checkbox" id="" name="" class="form-check-input" />
                    <label class="textP" for="">
                        No mostrar publicamente mi <br />
                        nombre en la asesoria de esta <br />
                        camapaña
                    </label>
                </div>
                <br />

            </div>
            <div class="button-container">
                <button type="submit" value="Aplicar" class="button1">Aplicar</button>
                <br >
                <button type="submit" value="Seguir" class="button1">Seguir</button>
                <br />
                <button type="submit" value="Seguir" class="button1">Visitar Social Media</button>
                <br />
            </div>
        </div>
    </div>

        



    <!-- Footer End -->
    <!-- Back to Top 
   


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
