@page
@model Avanze_ProjectoWeb.Pages.Projecto.editProjectListaModel
@{
}



<h1>Products List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach(var prod in Model.ProjectsLista)
        {
            <tr>
                <td>@prod.id</td>
                <td>@prod.title</td>

                <td>
                    <a asp-page="editProject" asp-route-id="@prod.id" > Edit</a>
                 
                </td>
            </tr>
        }
    </tbody>
</table>