@page
@model Avanze_ProjectoWeb.Pages.Projecto.ExploradorMomentaneoModel
@{
}
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/paginaUno">Pagina Prueba</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/formRegistro">Form Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/recuperarContraseña">Recuperar Contraseña</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/restablecimientoContraseña">Restablecimiento Contraseña</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/RestaurarProyecto">Restablecimiento De proyectos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/PeticionesDeProyectos">Revision De proyectos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/editProjectLista">Editar proyecto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/PerfilInterfaz">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/ProyectosRealizados">Proyetos Con Trabajo Realizados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/ApoyoProyectos">Apoyo de Proyetos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Projecto/InicioPrincipal">Inicio Principal</a>
        </li>
    </ul>
</div>