@page
@model Avanze_ProjectoWeb.Pages.Projecto.formRegistroModel
@{
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/registro.css" asp-append-version="true" />
</head>


<body>
    <div class="container">
        <div class="box2">
            <h2>¡Bienvenido!</h2>
            <p class="p1">Estamos a tu disposición para ayudarte.</p>
            <p class="p2">¿Ya tienes cuenta?</p>
            <button class="button2" id="iniciar-sesion3">Iniciar Session</button>
        </div>
        <div class="box1">
            <h2>Registro</h2>
            
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-6">
                        <div class="separacion">
                            <input asp-for="usarioModeloVeri.Nombre" type="text" placeholder="Ingrese su nombre Completo" class="input">
                            <br />
                            <span asp-validation-for="usarioModeloVeri.Nombre"></span>
                        </div>

                        <div class="separacion">
                            <input asp-for="usarioModeloVeri.Apellido" type="text" placeholder="Ingrese su Apellido" class="input">
                            <br />
                            <span asp-validation-for="usarioModeloVeri.Apellido"></span>
                        </div>
                        <div class="separacion">
                            <input asp-for="usarioModeloVeri.SegundoApellido" type="text" placeholder="Ingrese su Apellido Materno" class="input">
                            <br />
                            <span asp-validation-for="usarioModeloVeri.SegundoApellido"></span>
                        </div>
                        <div class="separacion">
                            <input asp-for="usarioModeloVeri.NombreUsuario" type="text" placeholder="Escriba un nombre de usuario" class="input">
                            <br />
                            <span asp-validation-for="usarioModeloVeri.NombreUsuario"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        
                        <div class="separacion">
                            <input asp-for="usarioModeloVeri.Correo" type="text" placeholder="Ingrese su Correo" class="input">
                            <br />
                            <span asp-validation-for="usarioModeloVeri.Correo"></span>
                        </div>
                        <div class="separacion">
                            <input asp-for="usarioModeloVeri.telefono" type="text" placeholder="Escriba su telefono" class="input">
                            <br />
                            <span asp-validation-for="usarioModeloVeri.telefono"></span>
                        </div>
                        <div class="separacion">
                            <input asp-for="usarioModeloVeri.Contraseña" type="password" placeholder="Ingrese su Contraseña" class="input">
                            <br />
                            <span asp-validation-for="usarioModeloVeri.Contraseña"></span>
                        </div>

                        <div class="separacion">
                            <input asp-for="usarioModeloVeri.ConfirmarContraseña" id="confirmarcontraseña" type="password" placeholder="Confirmar su Contraseña" class="input">
                            <br />
                            <span asp-validation-for="usarioModeloVeri.ConfirmarContraseña"></span>
                        </div>
                    </div>

                    
                    
                    
                </div>
                


                  
                    <p class="custom-p">Agrega una foto de perfil</p>
                    <div class="custom-form-group">
                       <input  type="file" class="custom-button" asp-for="usarioModeloVeri.fotoUser" id="inputFinalProductPng" >
                            <span class="custom-validation" asp-validation-for="usarioModeloVeri.fotoUser"></span>
                     <img id="vistaPreviaImagen3" src="#" alt="Vista previa de la imagen" style="max-width: 150px; max-height: 150px;" />

                        </div>
       
                    <br></br>
                <div class="form-check separacion">
                    <input type="checkbox" id="enviarProyectos" name="enviarProyectos" class="form-check-input" />
                    <label class="check" for="enviarProyectos">Envíenme una combinación semanal de proyectos seleccionados exclusivamente para mí, además de noticias ocasionales de Crowdfunding</label>
                </div>

                <div class="form-check separacion">
                    <input type="checkbox" id="aceptarPoliticas" name="aceptarPoliticas" class="form-check-input" />
                    <label class="check" for="aceptarPoliticas">Acepto la Política de privacidad, Política de cookies y los Términos de uso</label>
                </div>
                <button type="submit" class="button2">Crear Cuenta</button>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>
    document.getElementById("iniciar-sesion3").addEventListener("click", function () {
        window.location.href = "/Index";
    });
</script>

<script>
    function mostrarVistaPrevia(input, idVistaPrevia) {
        var archivo = input.files[0];
        var lector = new FileReader();

        lector.onload = function (e) {
            var vistaPrevia = document.getElementById(idVistaPrevia);
            vistaPrevia.src = e.target.result;
        }

        lector.readAsDataURL(archivo);
    }

  

    document.getElementById('inputFinalProductPng').addEventListener('change', function () {
        mostrarVistaPrevia(this, 'vistaPreviaImagen3');
    });
</script>