@page
@model Avanze_ProjectoWeb.Pages.Projecto.PeticionesDeProyectosModel
@{
	ViewData["Title"] = "Revisiones de Proyectos";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/proyectos.css" asp-append-version="true" />
</head>
<body>
    <h2>Solicitudes de aprobacion</h2>
</body>
<div class="proyecto-container">
        @foreach (var proyecto in Model.projects)
        {
        <div class="proyecto">
                <!-- Botones aquí -->
                <form method="post">
                <div class="titleProyect">
                        <span>@proyecto.title</span>
                        <input type="hidden" name="proyectoId" value="@proyecto.id" />
                    </div>
                    <div>
                        <img src="https://www.smartick.es/blog/wp-content/uploads/cuadrado.png">
                    </div>
                <div class="button-container">

                    <button class="button button-red" type="submit" name="handler" value="Aceptar" class="btn btn-primary">Aceptar</button>

                    <button class="button button-green" type="submit" name="handler" value="Rechazar" class="btn btn-danger">Rechazar</button>
 
                    </div>
                    <div>
                        <p>
                            <b>
                            Guitar: Adrian Smith
                            Vocals: Blaze Bayley
                            Guitar: Dave Murray
                            Unknown: George Marino
                            Guitar: Janick Gers
                            Engineer: Kevin Shirley
                            Producer: Kevin Shirley
                            Drums: Nicko McBrain
                            Bass  Guitar: Steve Harris
                            Unknown: Steve Harris
                            Writer: Bruce Dickinson
                            Writer: Dave Murray
                            Writer: Steve Harris
                        </b>
                        </p>
                    </div>
                </form>
            </div>
        }
    </div>
