@page
@model Avanze_ProjectoWeb.Pages.Projecto.PeticionesDeProyectosModel
@{
	ViewData["Title"] = "Revisiones de Proyectos";
}
<div class="container-fluid">
    <div class="row" style="margin-top: 10px; background-color: aqua;">
        @{
            int proyectosPorFila = 3; // Número de proyectos por fila
        }
        @foreach (var proyecto in Model.projects)
        {
            <div class="col-md-4 col-sm-6 col-12" style="padding: 10px;">
                <!-- Botones aquí -->
                <form method="post">
                    <div class="row text-center">
                        <span>@proyecto.title</span>
                        <input type="hidden" name="proyectoId" value="@proyecto.id" />
                    </div>
                    <div class="row text-center">
                        <img src="https://www.smartick.es/blog/wp-content/uploads/cuadrado.png">
                    </div>
                    <div class="row text-center">
                        <div class="col-6">
                            <button type="submit" name="handler" value="Aceptar" class="btn btn-primary">Aceptar</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" name="handler" value="Rechazar" class="btn btn-danger">Rechazar</button>
                        </div>
                    </div>
                    <div class="row text-center">
                        <p>
                            Guitar: Adrian Smith
                            Vocals: Blaze Bayley
                            Guitar: Dave Murray
                            Unknown: George Marino
                            Guitar: Janick Gers
                            Engineer: Kevin Shirley
                            Producer: Kevin Shirley
                            Drums: Nicko McBrain
                            Bass  Guitar: Steve Harris
                            Unknown: Steve Harris
                            Writer: Bruce Dickinson
                            Writer: Dave Murray
                            Writer: Steve Harris
                        </p>
                    </div>
                </form>
            </div>
        }
    </div>
</div>