@page
@model Avanze_ProjectoWeb.Pages.Projecto.PeticionesDeProyectosModel
@{
	ViewData["Title"] = "Revisiones de Proyectos";
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/proyectos.css" asp-append-version="true" />
</head>
<body>
    <h2>Solicitudes de Proyectos</h2>
</body>
<div class="proyecto-container">
        @foreach (var proyecto in Model.projects)
        {
        <div class="proyecto">
                <!-- Botones aquí -->
                <form method="post">
                <div class="titleProyect">
                        <span>@proyecto.title</span>
                        <input type="hidden" name="proyectoId" value="@proyecto.id" />
                    </div>
                    <div>
                    
                    <div>
                        @{
                            var projectPngBytes = proyecto.projectPng;
                            if (projectPngBytes != null)
                            {
                                <img src="data:image/png;base64,@Convert.ToBase64String(projectPngBytes)" alt="Project image" />
                            }
                        }
                    </div>

                </div>
                <div class="button-container">

                    <button class="button button-green" type="submit" name="handler" value="Aceptar" class="btn btn-primary">Aceptar</button>

                    <button class="button button-red" type="submit" name="handler" value="Rechazar" class="btn btn-danger">Rechazar</button>

                </div>
                    <div>
                        <p>
                          
                        </p>
                    </div>
                </form>
            </div>
        }
    </div>
