@page
@model Avanze_ProjectoWeb.Pages.Projecto.preguntasFrecuentesModel
@{
	ViewData["Title"] = "Preguntas Frecuentes";
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/preguntas.css" asp-append-version="true" />
</head>
<body>
    <div>
        <h2>Preguntas Frecuentes</h2>
    </div>
        <div class="container">
            <div class="box">
            <p class="title">¿En que consiste la pagina?</p>
            <p class="description">
                El crowdfunding tradicionalmente es una forma de financiación online
                para obtener el impulso económico a través de donaciones de usuarios,
                nuestra plataforma es una versión de donación no monetaria a través
                de la generación de networking y de mentorías en diferentes áreas
                que aporten al crecimiento de los proyectos, donde profesionales
            </p>
            </div>
            <div class="box">
            <p class="title">¿Como puedo ayudar?</p>
            <p class="description">
                El crowdfunding tradicionalmente es una forma de financiación online
                para obtener el impulso económico a través de donaciones de usuarios,
                nuestra plataforma es una versión de donación no monetaria a través
                de la generación de networking y de mentorías en diferentes áreas
                que aporten al crecimiento de los proyectos, donde profesionales
            </p>
            </div>
            <div class="box">
            <p class="title">¿Es seguro?</p>
            <p class="description">
                El crowdfunding tradicionalmente es una forma de financiación online
                para obtener el impulso económico a través de donaciones de usuarios,
                nuestra plataforma es una versión de donación no monetaria a través
                de la generación de networking y de mentorías en diferentes áreas
                que aporten al crecimiento de los proyectos, donde profesionales
            </p>
            </div>
            <div class="box">
            <p class="title">¿Es seguro?</p>
            <p class="description">
                El crowdfunding tradicionalmente es una forma de financiación online
                para obtener el impulso económico a través de donaciones de usuarios,
                nuestra plataforma es una versión de donación no monetaria a través
                de la generación de networking y de mentorías en diferentes áreas
                que aporten al crecimiento de los proyectos, donde profesionales
            </p>
            </div>
            <div class="box">
            <p class="title">¿Como puedo ayudar?</p>
            <p class="description">
                El crowdfunding tradicionalmente es una forma de financiación online
                para obtener el impulso económico a través de donaciones de usuarios,
                nuestra plataforma es una versión de donación no monetaria a través
                de la generación de networking y de mentorías en diferentes áreas
                que aporten al crecimiento de los proyectos, donde profesionales
            </p>
            </div>
            <div class="box">
            <p class="title">¿En que consiste la pagina?</p>
            <p class="description">
                El crowdfunding tradicionalmente es una forma de financiación online
                para obtener el impulso económico a través de donaciones de usuarios,
                nuestra plataforma es una versión de donación no monetaria a través
                de la generación de networking y de mentorías en diferentes áreas
                que aporten al crecimiento de los proyectos, donde profesionales
            </p>
            </div>
        </div>
</body>



