@page
@model Avanze_ProjectoWeb.Pages.Projecto.ProyectosRealizadosModel
@{
    ViewData["Title"] = "Proyectos Realizados";
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/proyectos.css" asp-append-version="true" />
</head>

<body>
    <h2>Proyectos Finalizados</h2>
    <div class="proyecto-container">
        @foreach (var proyecto in Model.projects)
        {
            <div class="proyecto">
                <!-- Botones aquí -->
                <form method="post">
                    <div class="titleProyect">
                        <span>@proyecto.title</span>
                        <input type="hidden" name="proyectoId" value="@proyecto.id" />
                    </div>
                    <div>
                        <img src="https://www.smartick.es/blog/wp-content/uploads/cuadrado.png">
                    </div>
                    <br>
                    <div class="progress">
                        <span class="progress-text">100%</span>
                    </div>
                    <br>
                    <div>
                        <small></small>
                    </div>
                    <br>

                    <div>
                        <p>
                            <b>
                                Asesoria financiera / Asesoria Comercial <br>
                                Asesoria en Marketing / Asesoria en Gestion
                            </b>
                        </p>
                    </div>
                    <div class="separacion">
                        <div class="custom-progress">
                            <span>Proyecto subido el: 21/08/2023</span>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</body>