@page
@model Avanze_ProjectoWeb.Pages.Projecto.Usuarios.ReceivedSupportModel
@{
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/tablas.css" asp-append-version="true" />


</head>
<body>

    <h2>Lista de Proyectos</h2>
    @*CORREGIR_BOTON_TAPIA*@
    <button style="padding: 10px; /* Tamaño fijo para el padding vertical y horizontal */
        border-radius: 10px;
        background-color: #F34479;
        color: white;
        border: 2px solid #F34479;
        text-decoration: none;
        margin-right: 5px;
        transition: background-color 0.3s, color 0.3s;
        display: inline-block;
        align-items: center;
        justify-content: center;
        min-width: 100px; /* Establece un ancho mínimo */
        height: 100%;
        text-decoration: none;">  <a asp-page="PerfilInterfaz" style ="text-decoration: none; color: white;">Regresar</a></button>
    
      
    <br>
    <br />
    <br />

    <table class="styled-table">
        
          
                     
        <thead>
            <tr>
                
                <th> Apoyos recibidos </th>
                <th> Nombre de Patrocinador</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sup in Model.SupportsLista)
            {
                @if (sup.Status == 1)
                {
                    <tr>
                       
                        <td>@sup.supportType</td>
                         <td>@sup.name</td>
                        <td>
                            <a class="btn1" asp-page="SupportReviewPage" asp-route-id="@sup.id">Hacer Review</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
</body>



