@page
@model Avanze_ProjectoWeb.Pages.Projecto.RecuperarContraseñaModel
@{
}

<h1>Recuperar Contraseña</h1>

<form method="post">
    <div class="form-group">
        <label for="correo">Correo de Cuenta:</label>
        <input type="email" class="form-control" id="correo" name="correo" required>
    </div>

    <a asp-page="/Index" class="btn btn-danger">Salir</a>
    <button type="submit" class="btn btn-primary" name="enviarCorreo">Enviar Correo</button>
    
    
</form>