@page 
@model Avanze_ProjectoWeb.Pages.Projecto.RestablecimientoContraseñaModel
@{
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/formSimple.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="box1">
            <h2>Restablecer Contraseña</h2>
            <form method="post">
                <div>
                    <label for="nuevaContraseña">Nueva Contraseña</label><br><br/>
                    <input type="password" class="input" id="nuevaContraseña" name="nuevaContraseña"><br><br/>
                </div>
                <div class="">
                    <label for="confirmarContraseña">Confirmar Nueva Contraseña</label><br><br/>
                    <input type="password" class="input" id="confirmarContraseña" name="confirmarContraseña"><br><br/>
                </div>
                <button type="submit" class="button2 btnAncho" name="restablecer">Confirmar Nueva Contraseña</button>
            </form>
        </div>
    </div>
</body>
