@page
@model Avanze_ProjectoWeb.Pages.Projecto.RestaurarProyectoModel
@{
	ViewData["Title"] = "Restaurar Proyecto";
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/proyectos.css" asp-append-version="true" />
</head>
<body>
    <h2>Restablecer Proyectos</h2>
</body>


<div class="proyecto-container">
    
       
        @foreach (var proyecto in Model.projects)
        {
        <div class="proyecto">
                    <!-- Botones aquí -->
                <form method="post">
                <div class="titleProyect">
                        <span>@proyecto.title</span>
                        <input type="hidden" name="proyectoId" value="@proyecto.id" />  
                    </div>
                    <div>
                        <img src="https://www.smartick.es/blog/wp-content/uploads/cuadrado.png">
                    </div>
                <div class="button-container">

                    <button type="submit" name="handler" value="Restaurar" class="button button-green">Restaurar</button>


                    <button type="submit" name="handler" value="Eliminar" class="button button-red">Eliminar</button>
                        
                    </div>
                    <div>
                        <p>
                            Guitar: Adrian Smith
                            Vocals: Blaze Bayley
                            Guitar: Dave Murray
                            Unknown: George Marino
                            Guitar: Janick Gers
                            Engineer: Kevin Shirley
                            Producer: Kevin Shirley
                            Drums: Nicko McBrain
                            Bass  Guitar: Steve Harris
                            Unknown: Steve Harris
                            Writer: Bruce Dickinson
                            Writer: Dave Murray
                            Writer: Steve Harris
                        </p>
                    </div>
                </form>
            </div>
        }
    
</div>
        

