@page
@model Avanze_ProjectoWeb.Pages.Projecto.SupportReviewPageModel
@{
    @if (@CrowdFundingDAO.Model.SessionClass.SessionRole != "")
    {
        Layout = "_LayoutLogin";
    }
    else
    {
        Layout = "_Layout";
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/crearCampaña.css" asp-append-version="true" />
</head>
<body>
    <div class="container text-left">
        <form method="post">
            <input type="hidden" asp-for="idSupport" />



            <h1 class="custom-h1">¿Recibio usted el apoyo acordado?</h1>
            <br>
            <label>
                <input type="radio" asp-for="verificationStatus" value="1" /> Si
            </label>
            <label>
                <input type="radio" asp-for="verificationStatus" value="0" /> No
            </label>
            <br><br/>
            <span asp-validation-for="verificationStatus"></span> 
            <h1 class="custom-h1">Observaciones o sugerencias</h1>
            <br>
            <textarea class="custom-textarea" asp-for="reviewDescripction" rows="3" placeholder="Escribe tus comentarios aquí"></textarea>
            <span asp-validation-for="reviewDescripction"></span> 


            <br><br/>
            <button class="custom-button" type="submit">Registrar Review</button>

        </form>

    </div>
</body>
 